<!DOCTYPE html>

<html>
	<head>
		<title>Voting App</title>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link href="/public/css/mypolls.css" rel="stylesheet" type="text/css">
		<link href="/public/css/polldisplay.css" rel="stylesheet" type="text/css">
		<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
	</head>
	<header>
		<h1>Vote wisely! Vote now!</h1>
		<div id="nav">
			<a id="login-a" class="show" href="/login">Login</a>
			<a id="polls-a" class="show" href="/">Polls</a>
			<a id="mypolls-a" class="show" href="/mypolls">My polls</a>
			<a id="newpoll-a" class="show" href="/newpoll">New Poll</a>
			<a id="signout-a" class="show" href="/signout">Signout</a>
		</div>
		<script type="text/javascript" src="/controllers/navController.js"></script>
		<script type="text/javascript">loggedIn(<%= logged %>)</script>
	</header>
	<body>
		<div id="content">
			<%- htmlStr %>
		</div>
		<script type="text/javascript" src="/controllers/mypollsController.js"></script>
	</body>
</html>